@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family:'Inter', sans-serif;
}

.section-container{
  @apply max-w-screen-2xl mx-auto container lg:px-24 px-4;
}

.subtitle{
  @apply text-red uppercase font-semibold text-lg tracking-wide;
}

.title{
  @apply font-bold text-4xl md:text-5xl leading-snug my-2;
}

.b-trans{
  @apply transition-all ease-in-out duration-300 ;
}
.heart-fill{   
  position: absolute;
  background: #39DB4A;
  border-radius: 0px 28px 0px 28px;

}
header{
  z-index: 10001 !important; 
}

*:focus {
  outline: none;
}

.text-basic{
  @apply bg-primary text-white
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
